.section {
    display: flex;
    flex-wrap: wrap;
 }
 
.div {
    flex-basis: 23%;
    margin: 0.5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
.item5{
    flex-basis: 95%;
}

@media (max-width:1024px){
    .div{
        flex-basis: 45%;
    }

    .item5{
        flex-basis: 91% !important;
    }
}